{% macro cardImageSectionLeftMacro(id, class, promiseH2, promiseH2Class,h1, type, src, alt, h2, p, p2, buttonId, buttonText, buttonHref) %}
<section id="{{ id }}" class="card-image-section-left {{ class }}">
  <h2 class="{{promiseH2Class}}">{{promiseH2}}</h2>
    <h1 class="title center">{{ h1 }}</h1>
    <div class="card-image-section-left__content-container">
      <div class="shadow bg-white card-image-section-left-dialog">
        <h2>{{ h2 | safe }}</h2>
        <p>{{ p | safe }}</p>
        <p class="sub-paragraph">{{ p2 }}</p>
        <a id="{{ buttonId }}" class="button button-primary" href="{{buttonHref}}">{{ buttonText }}</a>
      </div>
      <div class="card-image-section-left-image-wrapper">
        <{{ type }} src="{{ src }}" autoplay muted loop playsinline class="price__video lazy" alt="{{ alt }}">
          <source data-src="{{ src }}" type="{{ type }}">
        </{{ type }}>
      </div>
    </div>
</section>
{% endmacro %}
<section id="{{ cardImageSectionLeftId }}" class="card-image-section-left {{ class }}">
  <h2 class="{{promiseH2Class}}">{{promiseH2}}</h2>
    <h1 class="title center">{{ cardImageSectionLeftH1 }}</h1>
    <div class="card-image-section-left__content-container">
      <div class="card-image-section-left-image-wrapper">
        <{{ cardImageSectionLeftType }} src="{{ cardImageSectionLeftSrc }}" autoplay muted loop playsinline class="price__video lazy" alt="{{ alt }}">
        {% if videoButton %}
        <a id="{{ videoButtonId }}"class="video-button-light">{{ videoButtonText }}</a>
        {% endif %}
          <source data-src="{{ cardImageSectionLeftSrc }}" type="{{ cardImageSectionLeftType }}">
        </{{ cardImageSectionLeftType }}>
      </div>
      <div class="shadow bg-white card-image-section-left-dialog">
        <h2>{{ cardImageSectionLeftH2 | safe}}</h2>
        <p>{{ cardImageSectionLeftP | safe }}</p>
        <p class="sub-paragraph">{{ p2 }}</p>
        <a id="{{ cardImageSectionLeftButtonId }}" class="button button-primary" href="{{cardImageSectionLeftButtonHref}}">{{ cardImageSectionLeftButtonText }}</a>
      </div>
    </div>
</section>