{% if alternateHero %} {%- for item in hero %}
<section class="{{ item.class }}">
  <div class="{{ item.heroContentClass }}">
    <h1>{{ item.h1 }}</h1>
    <a
      class="button {{ item.buttonClass }}"
      id="{{ item.buttonId }}"
      href="{{ item.buttonHref }}"
    >
      {{ item.buttonText }}
    </a>
    <!-- <p class="designProcessDisclaimer">{{ item.disclaimer1 }}</p> -->
  </div>
  <picture class="alternateHeroImg">
    <source srcset="{{ item.src }}" media="(min-width: 1440px)" />
    <source srcset="{{ item.srcMd }}" media="(min-width: 708px)" />
    <source srcset="{{ item.srcSm }}" media="(min-width: 320px)" />
    <img src="{{ item.src }}" />
  </picture>
  <div class="alternateHeroContentMobile">
    <h1>{{ item.h1 }}</h1>
    <p class="designProcessDisclaimerMobile">{{ item.disclaimer1 }}</p>
    <p class="designProcessDisclaimerMobile">{{ item.disclaimer2 }}</p>
    <p class="designProcessDisclaimerMobile">{{ item.disclaimer3 }}</p>
    <a
      class="button {{ item.buttonClass }}"
      id="{{ item.buttonId }}"
      href="{{ item.buttonHref }}"
    >
      {{ item.buttonText }}
    </a>
  </div>
</section>
{% endfor %} {% else %}
<picture class="hero {{ class }}" id="{{ id }}">
  <source srcset="{{heroSrc}}" media="(min-width: 901px)" />
  <source srcset="{{heroSrcMd}}" media="(min-width: 641px)" />
  <source srcset="{{heroSrcSm}}" media="(min-width: 320px)" />
  <img
    src="{{ heroSrc }}"
    class="hero__image {{ item.heroImgClass }}"
    alt="{{ item.alt }}"
  />
  <div class="{{ heroContentClass }}">
    <div id="{{ item.badgeId }}"><img /></div>
    <h1 class="{{ heroHeaderClass }}">
      {{ heroH1 | safe }}
    </h1>
    <h4 class="{{ heroSubtitleClass }}">
      {{ heroSubtitle | safe }}
    </h4>
    {% if heroButtonId %}
    <a
      id="{{ heroButtonId }}"
      class="button {{ heroButtonClass }}"
      href="{{ heroButtonHref }}"
    >
      {{ heroButtonText }}
    </a>
    {% endif %}
    <p class="{{ item.disclaimerClass }}">{{ item.disclaimer }}</p>
  </div>
</picture>
{%- endif %}
