/* Design packages */
@import '/css/shared/fonts.css';
@import '/css/shared/colors.css';
@import '/css/shared/backgrounds.css';
.design-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 5rem 0;
    padding: 0 2rem;
}
  
  .design-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .design-package-section {
      display: flex;
      flex-direction: row;
      margin-top: 3.5rem;
  }
  
  .design-header h1 {
    width: auto;
  }
  
  .design-header p {
    width: 31.5rem;
  }
  
  .design-package-choices {
    width: min(100%, 56rem);
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
  }
  
  .price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  .zippy {
    display: flex;
  }
  
  .design-only-details,
  .design-logo-details {
    max-height: 10rem;
  }

  .design-package-only {
    margin-right: 1.5rem;
  }
  
  .details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.11rem;
  }
  
  .details-header-logo {
    margin-top: 2.5rem;
  }
  
  .design-package {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0.75rem 2rem -0.25rem var(--box-shadow);
    padding: 1rem 2.5rem 1rem 2.5rem;
    width: 26rem;
    margin-bottom: 2rem;
    min-height: 34rem;
  }
  #price-design-only {
    margin-top: 2.5rem;
  }
  .design-package h3 {
      font-family: 'Avenir Next Bold';
      font-size: 1rem;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #202020;
  }
  
  .design-package ul li {
    margin-bottom: 0.5rem;
  }
  
  .design-package ul li::before {
    content: url('/assets/icons/payment-check.svg');
    margin-right: 0.44rem;
  }
  
  .best {
      font-family: 'Avenir Next';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      color: var(--blue);
      margin-bottom: -1rem;
      letter-spacing: .125rem;
  }
  
  .design-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    max-height: 10rem;
    width: 23rem;
  }
  
  .vehicleImg {
    height: 9.375rem;
    width: 20.313rem;
    object-fit: cover;
    margin-top: .5rem;
  }
  
  .vehicleImgSm {
    height: 10.688rem;
    width: 15.938rem;
    object-fit: cover;
  }

  
  .zippy {
    margin-left: -0.5rem;
  }

  .design-package-button {
      align-items: center;
  }
  
  @media (max-width: 920px) {
    .design-package {
      width: 20.4rem;
      padding: 2rem 1rem 0 1rem;
      min-height: 33rem;
      max-height: 50rem;
    }
    .design-package-only {
        margin-right: 1rem;
    }
    #price-design-only {
        margin-top: 1rem;
    }
    .details-header-logo {
      margin: 2.5rem 0 -0.3rem 0;
    }
    .details-header-only {
      margin-top: 1.5rem;
    }
    .price-design-only {
      margin: 0;
    }
    #price-design-only-p {
      margin: .5rem 0 1.5rem 0;
    } 
    .best {
      margin-top: -1rem;
    }
    .vehicleImg {
      height: 8.5rem;
      width: 17.75rem;
      margin-top: 1.25rem;
    }
    .vehicleImgSm {
      height: 9rem;
      width: 13rem;
    }
    .zippy {
      margin-left: -1rem;
    }
    .design-image-container {
      max-height: 8rem;
      width: 19rem;
    }
  }
  
  @media (max-width: 670px) {
    .design-package-section {
      flex-direction: column;
      align-items: center;
    }
    .design-package {
      margin-right: 0;
    }
    .design-header {
      font-size: 2rem;
      width: 20rem;
      text-align: center;
    }
    .design-header p {
      width: auto;
    }
    .design-package-main {
      margin-top: 3rem;
    }
  }
  
  @media (max-width: 640px) {
    .design-package-main {
      margin-top: 0;
    }
    #price-design-only {
      margin-top: 0;
    }
    .design-package-section {
      margin: 0;
    }
  }

  