---
layout: layouts/base.njk
---
<main class="pricing-page-main">
  {% include "../template-fragments/hero.njk" %} 
  {% include "../template-fragments/card-image-section-left.njk" %}
</main>
{% include "../template-fragments/main-footer.njk" %}