---
layout: layouts/base.njk
---
{% include "../_includes/template-fragments/navbar.njk" %}
<main class="pricing-page-main">
  {% include "../_includes/template-fragments/hero.njk" %} 
  {% include "../_includes/template-fragments/trust.njk" %} 
  {% include "../_includes/template-fragments/3-img-cta.njk" %} 
  {% include "../_includes/template-fragments/card-image-section-left.njk" %}
  <h1>WOT? YOU DON'T LIKE BEER??</h1>
</main>
{% include "../_includes/template-fragments/main-footer.njk" %}